body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: steelblue;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

header p {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

h1 {
  color:  white;
  margin: 100px;
  text-align: center;
}

h2 {
  color: yellowgreen;
}

h3 {
  color: cyan;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav li {
  display: inline-block;
  margin: 20px;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: cyan;
}

.card {
  background-color: #1e1e1e;
  color: white;
  width: 280px;
  margin: 20px;
  padding: 20px;
  border: 1px solid cyan;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
}

.card-characters {
  width: 250px;
  display: inline-block;
  border: 1px solid cyan;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}
 
.card-characters img {
  border-radius: 25px;
  width: 200px;
}

#gallery img {
  display: inline-block;
  padding: 30px;
  left: 20px;
}

#kotak {
  background-color: skyblue;
}

form {
  color: black;
}

input,
textarea,
button {
  margin-top: 10px;
}

footer {
  text-align: center;
}

