body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: steelblue;
  padding: 80px;
  text-align: center;
  margin-bottom: 40px;
}

header p {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

h1 {
  color:  white;
  margin: 40px 0;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: yellowgreen;
}

h3 {
  color: cyan;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: yellow;
  padding: 8px 12px;
}

a:hover {
  color: cyan;
  box-shadow: 0 5px 5px;
  transition: 0.3s;
}

.popular-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #1e1e1e;
  color: white;
  width: 45%;
  padding: 20px;
  border: 1px solid cyan;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.1);
}

.card-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-content img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
  flex-shrink: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.4);
  transition: 0.3s;
}

.characters-container{
  display:flex ;
  gap: 20px;
  flex-wrap: wrap;
}

.card-characters {
  border: 1px solid cyan;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.1);
}

.card-characters:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.4);
}
 
.card-characters img {
  border-radius: 25px;
  width: 180px;
  height: 220px;
  object-fit: cover;
}

figure {
  display: flex;
  gap: 20px;
  align-items: center;
 
}

.gallery-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-container img {
  width : 200px;
  border-radius: 15px;
}

.gallery-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px cyan;
}

.gallery-group {
    margin-top: 40px;
}

#kotak {
  background-color: black;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 0 5px cyan;
}

form {
  color: cyan;
  margin-top: 50px;
}

input,
textarea,
button {
  margin-top: 10px;
  background-color: skyblue;
}

button:hover {
    background-color: deepskyblue;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

footer {
  text-align: center;
}

